* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(194, 137, 247);
}





.game-box {
    height: 100vh;

    justify-content: center;
    display: flex;
}

.player-1 {
    margin: auto auto;
    text-align: center;

}



.player-1-dice {
    width: 100px;
    height: 100px;
}



.random-dice-p1 {
    background-color: aqua;
    width: 100%;
    height: 30px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}